
{% extends 'base.html.twig' %}

{% block title %}Category | {{ category.name }}{% endblock %}

{% block body %}
    <h1>séries de la catégorie {{ category.name }} </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        not found
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
